.search-field.mb-0 {
  
border-radius: 5px;
}

.search-field.mb-0:hover {

  border-radius: 10px; 
}

.icon-search {

  animation: pulse 1s infinite;
}

.add-to-cart-button {
  border-radius: 10px; 
}

.button-continue-shopping.button.primary {
  border-style: solid;
  border-width: 1px;
  border-color: #e09b4e;
  border-radius: 5px;
  background-color: #e09b4e;
  color: #ffffff;
  text-shadow: none;
}
.checkout-button.button.alt.wc-forward {
  border-radius: 5px;
		background-color: teal;
  border-color: #e09b4e;
  border-width: 1px;
  color: #ffffff;
  text-shadow: none;
}
.plus.button.is-form {
  background-color: #abebc6
;
  color: #000000;
}

.minus.button.is-form {
  background-color: #f1948a;
  color: #000000;
}
.single_add_to_cart_button.button.alt {
  border-radius: 5px;
}
.remove {
  width: 20px;
  height: 20px;
  background-color: #990c0c;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.is-form.expand.button {
  color: #ffffff;
  border-radius: 5px;
	text-shadow: none;
}
}
.single_add_to_cart_button.button.alt {
  border-radius: 5px;
}
.button.wc-forward {
  border-radius: 5px;
}
