#wcfmmp-store ins {
      background-color: transparent !important;
    }
		
		#wcfmmp-store ins {
  background-color: transparent !important;
}


.wcfm_membership_box_foot{
  color: #f0f0f0 ;
      }
		
.wcfm-membership-wrapper .wc-progress-steps li.done, .wcfm-membership-wrapper .wc-progress-steps li.active, .wcfm-membership-wrapper .wc-progress-steps li.done::before, .wcfm-membership-wrapper .wc-progress-steps li.active::before{ 
	border-color: #0e5b28;
}

.wp-media-buttons .insert-media .media-button-icon::after {
  color: black;
}

.lft.left_sidebar.widget-area.sidebar{
  font-size: 16px;
	border-radius: 8px; 

}

.verification_noprompt { color: #D5DEE6; }
.verification_approve { color: #33691e; }
.verification_pending { color: #fbc02d; }
.verification_reject { color: #e64a19; }

.wcfm_user_usage_stat_limit {
  color: #d2d5d7;
}
.wcfm_dashboard_item_title {
    color: cyan;
}

#wcfm-main-contentainer div.wcfm-content {
		color: #151111;}

.support_ticket_date {
		color: #ffffff;}
.support_ticket_reply_author,.support_ticket_content_order,.support_ticket_content_order_title,.support_ticket_status,.wcfm_dashboard_item_title,.support_ticket_content_category,.support_ticket_content_category_title,.support_ticket_content{
    color: #bda7e3;
    letter-spacing: 0;
}
.wcfmfa.fa-user {
    color: #ffcc00;
}

.cwmm-chat-box {
    position: fixed;
    top: 75%;
    right: -50%; 
    transform: translate(80%, -50%);
}

.woocommerce-Price-amount.amount {
    color: #DD9933 !important;
}

.categories_list {
  list-style: none;
  padding: 0;
}

.categories_list li {
  margin-bottom: 8px;
  padding: 4px 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  cursor: pointer;
}

.categories_list li:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.woocommerce-Price-currencySymbol {
  color: #e09b4e !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #e09b4e;
  background-color: #f0f0f0;
}

.overlay {
    background-color: #363859 !important;
}

.woocommerce-button.button.wcfm-refund-action,
.woocommerce-button.button.wcfm-support-action,
.woocommerce-button.button.view {
    border-radius: 5px;
}


.easy-notification-bar,
.easy-notification-bar--align_right,
.easy-notification-bar--collapsible,

.easy-notification-bar-button{
  border-radius: 25px;
}

.wcfm-collapse-content {
	background-color: #192734;
}


.wcfm-collapse {
	background-color: #192734;
}


.header-button {
    font-size: 20px;
}

.wcfmmp-store-rating {
    position: relative;
    left: -45px;
}

#part2

/* Hide Navigation*/
.woocommerce-MyAccount-navigation {
display: none;
}

.wcmtx-my-account-links.wcmtx-grid {
    display: none;
}


.vendor-customer-registration {
    display: true !important;
}


/* إخفاء الرسالة عند التحويم بالماوس */
.nav-dropdown.nav-dropdown-simple  {
    display: none;
}

/* إخفاء الكلاسات عند التحويم بالماوس */
.account-nav.nav.nav-line.nav-uppercase.nav-vertical.mt-half {
    display: none;
}


#wcfm-main-contentainer .wcfm-collapse .wcfm-container,
#wcfm-main-contentainer div.wcfm-content {
    color: #d7c8c8;
	letter-spacing: 0;
	background-color: #192734;
}


.odd {
    background-color: #151111; /* تغيير لون الخلفية إلى اللون الداكن الذي تفضله */
}

.wcfm-membership-wrapper {
  background:#15202b;
}


.wcfm-store-setup table,
.wcfm-store-setup table th,
.wcfm-store-setup table tbody tr td,
.wcfm-store-setup .banner {
    font-family: 'Cairo', sans-serif !important;
    letter-spacing: 0 !important;
    font-size: 15px !important;
}


.wcfmmp_become_vendor_link {
    background-color: #e09b4e; /* لون خلفية الزر */
    color: #fff; /* لون النص */
    padding: 10px 20px; /* هوامش داخلية */
  border: none;
	text-align: center;
  border-radius: 5px; 
}
.wcfmmp_become_vendor_link:hover {
    background-color: #913ca9;  
}

.wcfmmp_sold_by_container_advanced .wcfmmp_sold_by_label {
  color:#e09b4e;
  font-size:15px;
  margin-left:60px;
  letter-spacing:0px;
  text-transform:uppercase
}

.wcfmmp_sold_by_container_advanced .wcfmmp_sold_by_wrapper .wcfmmp_sold_by_store a {
  color:#e09b4e!important
}

.col.small-12.large-12 {
    font-size: 16px;
}


.primary.is-small.mb-0.button.product_type_variable.is-shade,
.primary.is-small.mb-0.button.product_type_variable.add_to_cart_button.is-shade,
.primary.is-small.mb-0.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.is-shade {
    background-color: #913ca9; /* لون الخلفية */
   color: #fff; /* لون النص */
   border: none; /* إزالة حدود الزر */
    border-radius: 5px; /* زوايا مستديرة */
   font-size: 13px; /* حجم النص */
    cursor: pointer; /* تغيير شكل المؤشر عند تمريره على الزر */
}

.primary.is-small.mb-0.button.product_type_variable.is-shade:hover,
.primary.is-small.mb-0.button.product_type_variable.add_to_cart_button.is-shade:hover,
.primary.is-small.mb-0.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.is-shade:hover {
    background-color: #e09b4e; /* لون الخلفية عند تمرير المؤشر */
}

.copyright-footer {
    font-size: 14px; /* حجم الخط */
    color: #CCCCCC; /* لون النص */
    text-align: center; /* محاذاة النص إلى الوسط */
}


.quantity.buttons_added.form-flat  {
    background-color: #e09b4e; /* لون الزر */
    color: #000; /* لون النص */
    font-size: 16px; /* حجم النص */
    border-radius: 5px; 

}

.message-container.container.success-color.medium-text-center {
    color: #000; /* لون النص في الرسالة */
    border: 1px solid #000; /* حدود للرسالة */
    border-radius: 10px; /* زوايا المربع */
    text-align: center; /* محاذاة النص إلى الوسط */
	font-size : 17px;
}
	
.wc-empty-cart-message {
    color: #fff; /* لون النص */
    border-radius: 5px; /* زاوية الزر */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ظل الزر */
    text-align: center; /* مركز النص أفقيًا */
}
	

.message-container.container.success-color.medium-text-center {
	   background-color: #01aaff; /* لون الخلفية */
    color: #fff; /* لون النص */
    border-radius: 5px; /* زاوية الزر */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ظل الزر */
    text-align: center; /* مركز النص أفقيًا */
}


.message-container.container.alert-color.medium-text-center {
	
	  background-color: #CC0033; /* لون الخلفية */
    color: #fff; /* لون النص */
    border-radius: 5px; /* زاوية الزر */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ظل الزر */
    text-align: center; /* مركز النص أفقيًا */
}

.message-container.container.medium-text-center {
	background-color: #5e3f89; /* لون الخلفية */
    color: #fff; /* لون النص */
    border-radius: 5px;
	  margin: 5px; 

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* ظل الزر */
    text-align: center; /* مركز النص أفقيًا */
}
	


.wishlist-button.button.is-outline.circle.icon {
  display: inline-block;
  position: relative;
  border: 2px solid #333; /* لون الحدود */
  color: #e09b4e; /* لون النص */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &::before {
  
    font-size: 18px; /* حجم الرمز */
   
  }

  &:hover {
    background-color: #333; /* تغيير لون الخلفية عند التحويل */
    color: #fff; /* تغيير لون النص عند التحويل */
  }


}

.mfp-content.off-canvas-cart {
    background-color: #192734; /* لون خلفية داكن */
    color: #fff; /* لون نص فاتح */
    /* أي تخصيصات أخرى */
}


.ux-free-shipping__bar-progress {
    background-color: #006400; /* لون خلفية أخضر داكن */
    /* أي تخصيصات أخرى */
}

#wcfmmp-store .wcfm_store_description {
	background: #15202b;
}
	
	
	#orders_details_items_expander .wc-order-totals .label {
  color: #d5d9e3 !important;
  text-align: right !important;
}
.note.customer-note {
    color: black;
}




.woocommerce-MyAccount-content {
    padding: 20px;
    background-color: #192734;
    color: #f0f0f0;
    font-size: 16px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

}

#wcfmmp-store .policies_area, #wcfmmp-store .reviews_area, #wcfmmp-store .wcfm_store_description {
    background-color: #192734;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.woocommerce-order-details__title {
    background-color: #e09b4e;  
    color: #000; 
    border-radius: 5px;  
    display: inline-block; 
	    font-size: 17px;
   padding: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.woocommerce-column__title,.order-number,.order-date,.entry-title{
	
	background-color: rgba(231, 156, 33, 0.355);  
    color: #000; 
    border-radius: 5px;  
    display: inline-block; 
	  font-size: 17px;
   padding: 5px;
}


.search-field.mb-0 {
  
border-radius: 5px;
}

.search-field.mb-0:hover {

  border-radius: 10px; 
}

.icon-search {

  animation: pulse 1s infinite;
}

.add-to-cart-button {
  border-radius: 10px; 
}

.button-continue-shopping.button.primary {
  border-style: solid;
  border-width: 1px;
  border-color: #e09b4e;
  border-radius: 5px;
  background-color: #e09b4e;
  color: #ffffff;
  text-shadow: none;
}
.checkout-button.button.alt.wc-forward {
  border-radius: 5px;
		background-color: teal;
  border-color: #e09b4e;
  border-width: 1px;
  color: #ffffff;
  text-shadow: none;
}
.plus.button.is-form {
  background-color: #abebc6
;
  color: #000000;
		border-radius: 5px;
}


.minus.button.is-form {
  background-color: #f1948a;
  color: #000000;
		border-radius: 5px;

}
.single_add_to_cart_button.button.alt {
  border-radius: 5px;
}
.remove {
  width: 25px;
  height: 25px;
  background-color: #990c0c;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.is-form.expand.button {
  color: #ffffff;
  border-radius: 5px;
	text-shadow: none;
}
}
.single_add_to_cart_button.button.alt {
  border-radius: 5px;
}
.button.wc-forward {
  border-radius: 5px;
}
body {
  overflow-x: hidden;
}
.is-form.expand.button {
  background-color: #273647;
  border-radius: 5px;
}

.button.alt {
  border-radius: 10px; /* نصف قطر الحدود المستديرة */
}

/* تخصيص نص "متابعة الطلب" */
.uppercase.mb-0 {
    letter-spacing: normal; /* إلغاء التباعد بين الحروف */		
}



#wcfm-main-contentainer table.dataTable.display tbody tr.odd td {
  background-color:#273647;
}

#wcfm-main-contentainer table tbody td {
  background-color:#1D2327
}

.wcfm-action-icon {
    background-color: #151111; /* تغيير لون الخلفية إلى اللون الداكن الذي تفضله */
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color:#f2e3e3;
}

.wcfm_dashboard_notification {
    color: #ffffff; /* تغيير لون النص إلى اللون الأبيض */
}

.wcfm_welcomebox_header {
  background:#e09b4e;
}

.wcfm_dashboard_stats_block {
    background-color: #151111; /* تغيير لون الخلفية إلى اللون الداكن الذي تفضله */
}

.uppercase {
    color: white;
}

.cart-popup-inner.inner-padding {
    color: #F5F5F5; /* يجعل النص أبيض */
}


.woocommerce-Price-amount.amount {
		color:#f5f5f5;
}


.breadcrumbs.flex-row.flex-row-start.checkout-breadcrumbs.text-left.medium-text-center.is-large.uppercase {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #333;
  font-size: 18px;
		  background-color: #e09b4e; /* لون الخلفية الداكنة */
	
	
		  border-radius: 5px; 
  margin: 5px; 
}
  @media screen and (max-width: 600px) {
    // تحسينات إضافية للشاشات الصغيرة
	






