.header-button {

}

.header-button:active,
.header-button:focus {
  
}

.header-button:hover {

  background-color: #e09b4e; 
}


.header_logo,
.header-logo,
.smush-detected-img,
.smush-image-3 {
 
}

.header_logo:active,
.header-logo:active,
.smush-detected-img:active,
.smush-image-3:active,
.header_logo:focus,
.header-logo:focus,
.smush-detected-img:focus,
.smush-image-3:focus {
  
  border: 2px solid #e09b4e; 
}

.search-field.mb-0 {
  
border-radius: 5px;
}

.search-field.mb-0:hover {

  border-radius: 10px; 
}

.icon-search {
  /* تنسيقات العنصر قبل التأثير */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* حجم العنصر بدون تغيير */
  }
  50% {
    transform: scale(1.1); /* زيادة حجم العنصر بنسبة 10% */
  }
  100% {
    transform: scale(1); /* عودة العنصر إلى الحجم الأصلي */
  }
}

.add-to-cart-button {
  border-radius: 10px; 
}

.wishlist-button.button.is-outline.circle.icon {
  color: #e09b4e;
}

.button-continue-shopping.button.primary {
  border-style: solid;
  border-width: 1px;
  border-color: #e09b4e;
  border-radius: 5px;
  background-color: #e09b4e;
  color: #ffffff;
  text-shadow: none;
}

.primary.is-small.mb-0.button.wp-element-button.product_type_simple.add_to_cart_button.ajax_add_to_cart.is-flat {
  border-radius: 5px;
  border-color: #e09b4e;
  border-width: 1px;
		  padding: 4px;
}


.primary.is-small.mb-0.button.wp-element-button.product_type_simple.is-flat {
  border-radius: 5px;
  border-color: #e09b4e;
  border-width: 1px;
	padding: 4px;
		
}

.primary.is-small.mb-0.button.wp-element-button.product_type_variable.is-flat {
		border-radius: 5px;
  border-color: #e09b4e;
  border-width: 1px;
	padding: 4px;
}

.is-form.expand.button.wp-element-button {
  color: #ffffff;
  border-radius: 5px;
	text-shadow: none;
}
.checkout-button.button.alt.wc-forward.wp-element-button {
  border-radius: 5px;
		background-color: teal;
  border-color: #e09b4e;
  border-width: 1px;
  color: #ffffff;
  text-shadow: none;
}

.remove {
  width: 20px;
  height: 20px;
  background-color: #990c0c;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.remove::before,
.remove::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 1px;
  background-color: #ffffff;
}

.remove::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.remove::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.plus.button.is-form {
  background-color: #abebc6
;
  color: #000000;
}

.minus.button.is-form {
  background-color: #f1948a;
  color: #000000;
}
.single_add_to_cart_button.button.alt.wp-element-button {
  border-radius: 5px;
}
.button.wc-forward.wp-element-button {
  border-radius: 5px;
}
